@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="body-content">
    <form method="post" class="form-horizontal">
        <p>Place URL/Text Here: <textarea name="Input">@ViewData["Input"]</textarea><button type="submit" class="btn btn-primary">Submit</button></p>
    </form>
    @if (ViewData["ErrorMsg"] != null)
    {
        <p><strong>Error: </strong><i>@ViewData["ErrorMsg"]</i></p>
    }
    else if (ViewData["Result"] != null)
    {
        <p><strong>URL Count: </strong>@ViewData["UrlCount"]</p>
        <table class="sortable">
            <thead><tr><th>Word</th><th>Count</th></tr></thead>
            <tbody>
                @foreach (KeyValuePair<string, int> pair in ViewData["Result"] as Dictionary<string, int>)
                {
                    <tr><td>@pair.Key</td><td>@pair.Value</td></tr>
                }
            </tbody>
        </table>
    }

</div>
